<div id="app">
    <div class="container">
        <div class="row" style="padding:0;margin:0;margin-top: 50px;">
            {{#each organizations}}
            <div class="col-md-4" style="cursor: pointer;" onclick="location.href='/organization-repositories?org={{this.login}}'">
                <div class="card text-white mb-3 center" style="max-width: 20rem;border-radius:25px;">
                    <div class="card-body">
                        <img class="center" src="{{this.avatar_url}}" width="120" height="120"
                            style="border-radius: 100px; margin-bottom:20px;">
                        <h5 class="card-title text-center">{{this.login}}</h5>
                        <p class="card-text text-center">{{this.description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script>
    console.log({{{ organizations_json }}});
</script>

<style scoped>
    .col-md-4 {
        margin-bottom: 50px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .card{
        background-color: #313131;
    }
</style>