<div id="app">
    <div class="container">
        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div class=" image d-flex flex-column justify-content-center align-items-center">
                    <button class="btn" style="background-color: white">
                        <img src="{{user.avatar_url}}" height="100" width="100" style="border-radius: 100px;" />
                    </button>
                    <span class="name mt-3">{{user.name}}</span>
                    {{#if user.location}}
                        <span class="idd1">{{user.location}}</span>
                    {{/if}}
                    {{#if user.company}}
                    <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                        <span class="idd1">Works {{user.company}}</span>
                    </div>
                    {{/if}}
                    {{#if user.followers}}
                    <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                        <span class="number">{{user.followers}} <span class="follow">Followers | </span> <span
                                class="number"> {{user.following}}</span> <span class="follow"> Following</span>
                        </span>
                    </div>
                    {{/if}}
                    <div class=" d-flex mt-2">
                        <button class="btn1 btn-dark" onclick="location.href='https://github.com/settings/profile'" style="cursor: pointer">
                            Edit Profile
                        </button>
                    </div>
                    <div class="text mt-3">
                        <span>{{user.bio}}</span>
                    </div>
                    <div class=" px-2 rounded mt-4 date ">
                        <span class="join">
                            {{joinedDate}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        background-color: #008573;
        border: none;
        cursor: pointer;
        transition: all 0.5s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        width: 450px;
        text-align: center;
        color: white;
    }

    .image img {
        transition: all 0.5s
    }

    .card:hover .image img {
        transform: scale(1.5)
    }

    .btn {
        height: 140px;
        width: 140px;
        border-radius: 50%
    }

    .name {
        font-size: 22px;
        font-weight: bold
    }

    .idd {
        font-size: 14px;
        font-weight: 600
    }

    .idd1 {
        font-size: 12px
    }

    .number {
        font-size: 22px;
        font-weight: bold
    }

    .follow {
        font-size: 12px;
        font-weight: 500;
    }

    .btn1 {
        height: 40px;
        width: 150px;
        border: none;
        background-color: #000;
        color: #aeaeae;
        font-size: 15px
    }

    .text span {
        font-size: 14px;
        font-weight: 500
    }

    .icons i {
        font-size: 19px
    }

    hr .new1 {
        border: 1px solid
    }

    .join {
        font-size: 14px;
        color: #ffffff;
        font-weight: bold
    }

    .date {
        background-color: #1d1d1d;
        padding: 5px;
    }
</style>